*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bg{
  background-image: url('/assets/landingBackground.jpg');
  background-size: cover;
  height: 100vh;
}
.content{
  height: inherit;
  color: white;
}
.mouse{
  margin-top: 12vh;
  margin-bottom: 5vh;
}
.bgService{
  background-image: url('../assets/thirdBackground.jpg');
}