*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bg{
  background-image: url('/assets/landingBackground.jpg');
  background-size: cover;
  height: 100vh;
}
.content{
  height: inherit;
  color: white;
}
.mouse{
  margin-top: 12vh;
  margin-bottom: 5vh;
}
.bgService{
  background-image: url('../assets/thirdBackground.jpg');
}
.services{
  padding:6.5rem
}

#design,#development,#products{
  display: none;
}
.whatwedo{
  margin-right: 1rem;
}
 .portfolio{
  padding-right: 6rem;
  padding-left: 6rem;

}

.res{
  width: 100%;
  
}
.secondRow{
  padding-top: 1.5rem;
}
.bgContact{
  background-image: url('../assets/contactBackground.jpg');
  background-size: cover;

}
::placeholder{
  color: #FFFFFF !important;
}
.contactUs{
  font-weight: bold;
  font-size: x-large;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-img{
  padding: 0.3rem;
}
@media only screen and (max-width:600px) {
  .portfolio{
    padding-right: 0;
    padding-left: 0;
  
  }
  .secondRow{
    padding: 0;
  }
}