*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
.bg{
  background-image: url('/assets/landingBackground.jpg');
  background-size: cover;
  height: 100vh;
}
.content{
  height: inherit;
  color: white;
}
.mouse{
  margin-top: 12vh;
  margin-bottom: 3vh;
}
.bgService{
  background-image: url('../assets/thirdBackground.jpg');
  background-size: cover;
}
.services{
  padding:6.5rem
}

#design,#development,#products{
  display: none;
  cursor: pointer;
}
.whatwedo{
  margin-right: 1rem;

}
.welcome{
  font-size: x-large;
}

/* input:focus{
  outline:0px !important; 
  box-shadow: none !important;
} */
/* .form-control:focus {
  box-shadow: none !important;
} */
.form-control:focus ,.form-control{
  /* border: none; */
  box-shadow: none !important;
  outline: none !important;
  border-color:#FFFFFF !important;

}


 .portfolio{
  padding-right: 6rem;
  padding-left: 6rem;

}

.res{
  width: 100%;
  z-index: 1;
  
}
.secondRow{
  padding-top: 1.5rem;
}
.bgContact{
  background-image: url('../assets/contactBackground.jpg');
  background-size: cover;

}
::placeholder{
  color: #FFFFFF !important;
}
.contactUs{
  font-weight: bold;
  font-size: x-large;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

}
.footer-img{
  padding: 0.3rem;
}
.blurry_effect{
  filter: blur(1.3px);
  /* background-color: rgba(0, 0, 0, 0.7); */
}
.hoverText{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: #FFFFFF solid 4px;
  padding: 2rem;
  font-weight: bold;
  color: white;
  z-index: 2;
  background-color: rgba(0, 0, 0, .2);


}

@media only screen and (max-width:600px) {
  #name{
    margin-bottom: 1rem;
  }
  .res{
    margin-bottom: 1.5rem;
  }
  .portfolio{
    padding-right: 0;
    padding-left: 0;
  
  }
  .secondRow{
    padding: 0;
  }
}
@media only screen and (min-width:580px) and (max-width:820px) {
  .hoverText{
    padding: 0;
    font-size: small !important;

  }
}
@media only screen and (width:1024px)
{
  .hoverText{
    padding: 0.5rem;
  }
}
